<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Grade Me Please was created by Ajay Tripathi, a Berkeley undergraduate in Electrical Engineering and Computer Science. He has the best girlfriend in the world.
</p>