<% provide(:title, "#{@course.name} | Edit Grading Configs") %>

<h1>Edit Grading Configurations</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'grading_configs_form' %>
  </div>
</div>
