<% provide(:title, "#{@course.name} | Assignments") %>

<h1>Assignments for <%= @course.name %></h1>
<div class="row">
  <div class="span10 offset1">
    <%= render 'assignments_list' %>
  </div>
</div>

