<h1>Listing assignments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to 'Show', [@course, assignment] %></td>
        <td><%= link_to 'Edit', edit_course_assignment_path(@course, assignment) %></td>
        <td><%= link_to 'Destroy', [@course, assignment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_course_assignment_path(@course) %>
