<% provide(:title, "#{@course.name} | #{@assignment.name}") %>

<h1><%= @assignment.name %></h1>

<% if @enrollment and @enrollment.status > Statuses::READER %>
  <%= link_to "Edit", edit_course_assignment_path(@course, @assignment), type: "button", class: "btn btn-primary" %>
  <%= link_to 'Destroy', [@course, @assignment], method: :delete, data: { confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger" %>
<% end %>
