<% provide(:title, "#{@course.name} | #{@assignment.name}") %>

<h1><%= @assignment.name %></h1>
<p>
  <!-- <iframe src="https://docs.google.com/gview?url=https://magicgrader.heroku.com<%#= @assignment.pdf_url %>&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe> -->
  <iframe src="https://docs.google.com/gview?url=https://magicgrader.herokuapp.com/uploads/assignment/pdf/3/hw4.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
</p>
<p>
  <% if @enrollment and @enrollment.status > Statuses::READER %>
    <%= link_to "Edit", edit_course_assignment_path(@course, @assignment), type: "button", class: "btn btn-primary" %>
    <%= link_to 'Destroy', [@course, @assignment], method: :delete, data: { confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger" %>
  <% end %>
</p>