<%= form_tag import_course_path(@course), multipart: true do %>
  <p>
  	<%= file_field_tag :file, accept: 'text/csv' %>
  </p>
  <p>
  	<%= submit_tag "Import", class: "btn btn-large btn-primary" %>
  </p>
<% end %>
