<footer class="footer">
  <small>
    Made by 
    <a href="https://www.linkedin.com/pub/ajay-tripathi/3b/297/298">Ajay Tripathi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
    </ul>
  </nav>
</footer>